{% extends 'base.html' %}
{% block content %}

<h1>About Team Box</h1>
<hr />
<p>Team Box is a Stat Collector for Basketball Teams
  to keep track of team statistics and players on a team 
  throughout the season.  You can search for your team or click on 
  the button in the Navigation Menu to see all teams listed.

  Want to add players to your team?  It's easy, just complete the on-screen 
  form and submit it to add the player to your team.

  We hope you enjoy Team Box!
</p>

{% endblock %}
